.login-container{
    text-align: center;
    padding:2% 6%;
    background-color: rgb(255, 255, 255);
    margin: 7% 32% ;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
}
.input{
    border: 2px solid;
    padding:10px;
    font-size: 20px;
    margin:10px 0 ;
    text-align: center;
    border-radius: 5px;
}
.input::placeholder{
    color:lightslategray;
}
.inputbox{
    position:relative;
    margin: 20px 0;
    border: 0.5px solid #aeaeae;
    border-radius: 7px;
}
.inputbox label {
    position:absolute;
    left:12px;
    top: -21px;
    transform: translateY(.50%);
    color:#000000;
    font-size:1em;
    pointer-events: none;
    transition: .5s  ;
    padding: 0 10px ;
    background-color: rgb(255, 255, 255);
}
input:focus ~ label, input:valid ~ label{
    top: 20px;
}
.inputbox input{
    width: 100%;
    height: 40px;
    background:transparent;
    border: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color:#fff;
}