.logo-footer{
   text-align: center;
   margin: 20px;
}
.logo{
   border-radius: 25%;
   width: 100px;
   height: 100px;
   margin: 20px 0 0 0 ;
}
.title-logo-footer{
   color: #e9e8e8;
   font-family: Fredoka;
   font-weight: 600;
   font-size: 20px;
}
.footerSection{
   box-shadow: 0 0 8px 0;
   background-color:#1f549b;
   min-height: 200px;
   padding:1%;
   display: grid;
   grid-template-columns:25% 25% 1fr;
}
.section{
   text-align: center;
   line-height: 22px;
}
.section-last{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.section-last-left{
   text-align: left;
   color:#e9e8e8;
   font-size: 0.8em;
   font-family: Fredoka;
   line-height: 32px;
   list-style: none;
}
.section-last-left .icon{
   color:#13eae7;
   vertical-align: middle;
   margin-right:10px;
   margin-bottom: 5px;
   font-size: 1em;
}
.title-footer{
   color:rgb(233, 230, 230);
   font-family: Fredoka;
   font-size: 20px;
   font-weight: 600;
}
.title-footer:hover{
   color:rgb(242, 81, 81);
   font-weight: 800;
}
.footerName{
   color: #ffffff;
   margin-top: 1rem;
   font-family: 'Raleway',sans-serif;
   font-size: 22px;
   font-weight: 600;
}
.social-container{
   margin-top: 30px;
}
a.social{
   margin: 0 1rem;
   transition: transform 250ms;
   display: inline-block;
}
a.social:hover{
   transform: translateY(-4px);
}
a.iconcolor{
   color: #ffffff;
}
.footerDescription{
   color: #e9e8e8;
   margin-top: 1rem;
   font-family: 'Raleway',sans-serif;
   font-size: 15px;
   font-weight: 400;

}

.footerLink{
   display: block;
   text-decoration: none;
   font-family: Fredoka;
   font-size: 0.9em;
   font-weight: bold;
   color: #ffffff;
}
.footerLink:hover{
   text-decoration: none; 
   color: #ffd900;
}
.container2{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 10px;
}
.copy-right{
   background:  #053675;
   height: 40px;
   padding: 10px 0;
   color: white;
   font-family: Fredoka;
   font-weight: 600;
   text-align: center;
}
 .wrapper ul {
   list-style: none;
 }
 
 .wrapper ul li {
   width: 40px;
   height: 40px;
   line-height: 25px;
   margin: 0 10px;
   text-align: center;
   cursor: pointer;
   border-radius: 50%;
   border: 5px solid #D8E2DC;
   float: left;
   padding: 3px 0;
   transition: all 0.5s ease;
 }

 .wrapper ul li .fa {
   color: #D8E2DC;
   transition: all 0.5s ease;
 }

 .wrapper ul li:hover.facebook {
   border: 5px solid #4267B2;
   box-shadow: 0 0 15px #4267B2;
   transition: all 0.5s ease;
 }
 
 .wrapper ul li:hover .fa-facebook {
   color: #4267B2;
   text-shadow: 0 0 15px #4267B2;
   transition: all 0.5s ease;
 } 
 /* google */
 .wrapper ul li:hover.google {
   border: 5px solid #dd4b39;
   box-shadow: 0 0 15px #dd4b39;
   transition: all 0.5s ease;
 }
 
 .wrapper ul li:hover .fa-google {
   color: #dd4b39;
   text-shadow: 0 0 15px #dd4b39;
   transition: all 0.5s ease;
 }

/* youtube */
.wrapper ul li:hover.youtube {
   border: 5px solid #c71700;
   box-shadow: 0 0 15px #c71700;
   transition: all 0.5s ease;
   }
   
.wrapper ul li:hover .fa-youtube {
color: #dd4b39;
text-shadow: 0 0 15px #c71700;
transition: all 0.5s ease;
}  
/* media queries */

@media screen and (max-width: 840px){
.wrapper {
   width: 350px;
}
.wrapper ul li{
   margin-top: 10px;
}
.footerSection{
   box-shadow: 0 0 8px 0;
   min-height: 200px;
   padding:1%;
   display: grid;
   grid-template-columns:1fr 1fr;
}
.section{
   text-align: center;
   margin: 20px 10px;
}
}

html {
   scroll-behavior: smooth;
 }
@media screen and (max-width: 500px){
.footerSection{
   box-shadow: 0 0 8px 0;
   min-height: 200px;
   padding:1%;
   display: grid;
   grid-template-columns: 1fr;
}
.section{
   text-align: center;
   margin: 20px 10px;
}
}

.top-btn , .bottom-btn{
   height: 30px;
   width: 30px;
   color:white;
   background: rgb(41, 59, 163);
   border-radius: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   right: 20px;
   bottom: 5%;
   cursor: pointer;
   z-index: 1;
}
.bottom-btn {
   transform: rotateX(180deg);
   bottom: 82%;
}
.top-btn:hover , .bottom-btn:hover{
   background-color: rgb(24, 0, 90);

}