  .navbar{
    position: fixed;
    height: 60px;
    z-index: 1000;
    width: 100%;
    padding: 14px 30px;
    background-color: #ffffff;
  }
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 15px;
  }  
  .navbar .nav-links a{
    font-size: 0.9em;
    padding: 8px;
    margin: 0 2px;
    text-decoration: none;
    font-weight: 550;
    color: rgb(0, 22, 164);
  }
  .navbar .nav-links a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
  }
  .navbar .nav-links .loginBtn a:hover{
    background-color: transparent;
  }
  .navbar .nav-links .loginBtn:hover{
    background-color: rgb(18, 106, 161);
  }
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  } 
  @media (max-width:900px) {
    .navbar .nav-links{
      display: inline;
      float: right;
      font-size: 12px;
    }  
    .navbar .nav-links .loginBtn{
      padding: 5px 0;
      font-size: 12px;
    }
  } 
  @media (max-width:768px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 22px 20px ;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 5px;
      width: 20px;
      border-top: 2px solid #eee;
    }
    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
      background-color: rgb(9, 14, 90);
    }
    .navbar .nav-links{
      font-size: 17px;
      position: absolute;
      display: block;
      text-align: center;
      scroll-behavior: smooth;
      width: 50%;
      background-color: rgb(9, 14, 90);
      transition: all 0.3s linear ;
      overflow-y: hidden;
      scroll-behavior: auto;
      top: 60px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }
    .navbar #nav-check:not(:checked) ~ .nav-links { /*button not checked*/
      height: 0px;
    }
    .navbar #nav-check:checked ~ .nav-links { /*button checked*/
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
    .navbar .nav-links .loginBtn {
      padding: 10px 30px ;
      margin: 30px;
      font-size: 15px;
      font-weight: bold;
    } 
  }

  .navbar .nav-links .loginBtn{
    font-size: 0.9em;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    font-size: 17px;
    background-color: rgba(19, 69, 178, 0.798);
    border: none;
    border-radius: 5px;
  }
  .navbar .nav-links .loginBtn a{
    color: white;
  }
  .active{
    border-bottom:4px solid rgba(19, 69, 178, 0.798);
    padding: 5px 0;
  }